<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681070352481-mrc0a6s95pm6d9moo4789t2dguk6de7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681070352481-mrc0a6s95pm6d9moo4789t2dguk6de7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDEME33ZHpxG-lDfckOuWRohrU7mtHwj0M</string>
	<key>GCM_SENDER_ID</key>
	<string>681070352481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selectableNavigationDrawerExample</string>
	<key>PROJECT_ID</key>
	<string>seproject-51872</string>
	<key>STORAGE_BUCKET</key>
	<string>seproject-51872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681070352481:ios:444b287a20ec12e6f97220</string>
</dict>
</plist>